NodeRed/Prak1_ModbusRTU/Prak1_ModbusRTU.json
[
    {
        "id": "fceba2fac4c71178",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c533dfd3672e33ac",
        "type": "debug",
        "z": "fceba2fac4c71178",
        "name": "Temp output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "4708e1065df7ec1a",
        "type": "modbus-read",
        "z": "fceba2fac4c71178",
        "name": "Temp Sensor",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "0x01",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "15e2ec1afd708a0b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c533dfd3672e33ac",
                "329fe054dc1cf15c",
                "368d04748ea4b106"
            ],
            []
        ]
    },
    {
        "id": "329fe054dc1cf15c",
        "type": "function",
        "z": "fceba2fac4c71178",
        "name": "Temp parsing",
        "func": "let Temp = msg.payload[0];\nmsg.payload = (Temp/10);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "1d3b96c7fd49aa85"
            ]
        ]
    },
    {
        "id": "368d04748ea4b106",
        "type": "function",
        "z": "fceba2fac4c71178",
        "name": "Hum parsing",
        "func": "let Hum = msg.payload[1];\nmsg.payload = Hum/10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "76f8d9bec47ae250"
            ]
        ]
    },
    {
        "id": "1d3b96c7fd49aa85",
        "type": "ui_chart",
        "z": "fceba2fac4c71178",
        "name": "",
        "group": "6844cd83717f9bdf",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "76f8d9bec47ae250",
        "type": "ui_chart",
        "z": "fceba2fac4c71178",
        "name": "",
        "group": "6844cd83717f9bdf",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Hum",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "15e2ec1afd708a0b",
        "type": "modbus-client",
        "name": "Modbus TCP",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.4.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 100,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6844cd83717f9bdf",
        "type": "ui_group",
        "name": "ModbusTCP",
        "tab": "ec13d2bcb1689b3a",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ec13d2bcb1689b3a",
        "type": "ui_tab",
        "name": "ModbusTCP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]